/* universal CSS styling */
*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(202, 205, 245);
    --primary: rgb(185, 182, 174);
    --secondary: rgb(255, 0, 0); 
    --tertiary: rgb(232, 224, 200);
    --background: rgb(170, 168, 162);
}

body{
    display: grid;
    grid-template-columns: 'header header'
    'footer footer';
}

/* header styling */
h1{
    grid-area: header;
    color: var(--primary);
    text-align:center;
    text-shadow: var(--secondary);
    font-variant-caps:petite-caps;
}

.headerP{
    margin: 10px;
    text-align: center;
}


/* grid */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows:auto;
    grid-gap: 10px;
    justify-content: space-evenly;
    align-content: space-around;
    /* border: 2px solid var(--secondary);  */
}

card {
    margin: 10px;
    background-color: var(--primary);
    /* mix-blend-mode: color; */
    padding: 20px 10px 60px 10px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    text-align: center;
    box-shadow:-1vh 0 .4vh var(--background);
}
img{
    width:22vh;
    height: 7vh;
}
.image {
    /* background-image: url(""); */
    background-color: var(--tertiary);
    border-radius: 2px;
}

.articleTitle{
    position: relative;
    top: -70px;
    background-color: transparent;
}
h3 {
    position: relative;
    width: 10vh;
    height: 10vh;
    border-radius: 50px;
    left: 85px;
}

footer{
    grid-area: footer;
}
